@model LR3_4.Models.Category
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h2>Нова Категорія</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CategoryName, "Назва Категорії")
    <br />
    @Html.EditorFor(model => model.CategoryName)
    <br />

    <br />
    <br />
    <input type="submit" value="Добавить" />
}
@foreach (var b in ViewBag.Categories)
{
    <tr>
      

        <td>
            @b.CategoryName
        </td>
        <td>
            <a href="/CateegoryAdd/Deletc/@b.CategoryId">Видалити</a>
            

        </td>

    </tr>


}